<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gestión de Productos</title>
<link rel="stylesheet" th:href="@{/css/estilos.css}" />

</head>
<body>

    <h1>Gestión de Productos</h1>

    <div class="btn-container">
        <a href="/productos/nuevo" class="button">➕ Nuevo Producto</a>
        <a href="/productos/consultas" class="button button-secondary">🔍 Ir a Consultas</a>
		<a th:href="@{/}" class="button button-index">🏠 Menú Principal</a>
    </div>

    <h2>Listado actual</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Stock</th>
                <th>Categoría</th>
                <th>Proveedor</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="prod : ${productos}">
                <td th:text="${prod.id}">1</td>
                <td th:text="${prod.nombre}">nombre</td>
                <td th:text="${prod.precio}">precio</td>
                <td th:text="${prod.stock}">stock</td>
                <td th:text="${prod.categoria.nombre}">categoría</td>
                <td th:text="${prod.proveedor.nombre}">proveedor</td>
            </tr>
        </tbody>
    </table>

</body>
</html>
